
@{
    ViewBag.Title = "XoaHinh";
    Layout = "~/Views/Admin/AdminLayout.cshtml";
}

<h2>Xóa Hình Ảnh</h2>
@using (Html.BeginForm())
{
<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <div class="control-label col-md-2">
            Ảnh Hiện Tại
        </div>
        <div class="col-md-10">
            <img width="150px" src="~/images/@Model.URLHINH" alt="" class="img-responsive" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="XÓA" class="btn btn-default" />
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Sửa", "SuaHinh", new { id = Model.MAHINH }) |
    @Html.ActionLink("QUAY LẠI", "HinhAnh", new { id = ViewBag.MaSP })
</div>