
@{
    ViewBag.Title = "CachDoSize";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="pagecontent bgtrang">
    <div style="padding:10px;">
        <div id="title" class="title">
            <h1 style="font-size:16px;font-weight:bold;color:#111;margin-top:0px;">Cách đo size giày</h1>
        </div>
        <div>
            <p><strong style="font-size: medium;">HƯỚNG DẪN CÁCH ĐO SIZE GIÀY&nbsp;</strong></p>
            <p><span style="font-size: medium;"> <br> Để xác định được chính xác cỡ giày cho đôi chân, bạn hãy thực hiện đúng như các bước hướng dẫn sau</span></p>
            <p><strong><span style="font-size: medium;">Quy ước:</span></strong></p>
            <p><span style="font-size: medium;">Chiều rộng bàn chân là N<br> Chiều dài bàn chân là L</span></p>
            <p><span style="font-size: medium;"><img src="~/images/cachdogiay.gif" alt="" width="360" height="265" style="height: auto;"><br> <br> <strong>Bước 1: Chuẩn bị.</strong></span></p>
            <p><span style="font-size: medium;">- Một mãnh giấy lớn hơn so với bàn chân.<br> - Một cây bút chì.<br> <br> <strong>Bước 2: Vẽ kích cỡ.</strong></span></p>
            <p><span style="font-size: medium;">- Đặt tờ giấy xuống sàn, sau đó đặt và giữ chân bạn thật chắc chắn trên tờ giấy.<br> - Dùng bút chì để vẽ lại khung chân của bạn. Để chính xác thì bạn phải  đặt bút thẳng đứng và vuông góc với tờ giấy, vạch chính xác theo khuôn  hình của chân bạn.<br> - Bạn hãy chắc chắn là không được xê dịch chân khi bạn tạm dừng bút chì.<br> - Bạn có thể tự đo bàn chân mà không cần ai trợ giúp.<br> <br> <strong>Bước 3: Đánh dấu các số đo L và N.</strong></span></p>
            <p><span style="font-size: medium;">- Sử dụng bút chì để vẽ đường thẳng chạm vào các điểm trên cùng, dưới cùng và cả hai bên của bản phác thảo bàn chân của bạn .<br><br> <strong>Bước 4: Đo lường L.</strong></span></p>
            <p><span style="font-size: medium;">- Sử dụng thước để kẽ và đo chiều  dài từ phía dưới dòng kẽ trên đến dòng kẽ dưới mà bạn đã vẽ. Hãy chắc  chắn rằng bạn đo trên đường thẳng vuông góc với hai đường kẽ trên và  dưới.<br> - Sau khi đo xong bạn có thể làm tròn số trong khoản 0,5cm.  Bạn nên làm tròn xuống vì khi vẽ khuôn chân của bạn, các đường kẽ thường  chiếm thêm một chút so với kích thước thật của bàn chân bạn.<br> <br> <strong>Bước 5: Tìm và lấy kích thước giày phù hợp.</strong></span></p>
            <p><span style="font-size: medium;">- Ghi con số này lại để so sánh trên bảng cỡ giày đã được tính sẵn (Bảng 1) hoặc tìm cỡ giày của bạn trên Thang đo.<br><br> Lưu ý:&nbsp;<br> - Thời gian tốt nhất để đo cỡ giày thể thao của bạn là vào lúc cuối ngày, khi đôi chân của bạn được thư giãn hoàn toàn.<br> - Nếu có sai số giữa hai bàn chân, bạn hãy chọn đôi giày thể thao có cỡ bằng với chân lớn hơn của bạn.</span></p>
            <p><strong><span style="font-size: medium;">Bảng 1: Bảng cỡ giày đã được tính sẵn</span></strong></p>
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td colspan="4" width="235" valign="bottom">
                            <p><strong><span style="font-size: medium;">NAM</span></strong></p>
                        </td>
                        <td width="69" valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                        <td colspan="4" width="235" valign="bottom">
                            <p><strong><span style="font-size: medium;">NỮ</span></strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">(mm)</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">Cỡ Mỹ</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">Cỡ Anh</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">Cỡ Pháp</span></p>
                        </td>
                        <td width="69" valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">(mm)</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">Cỡ Mỹ</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">Cỡ Anh</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">Cỡ Pháp</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">231</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">4.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">4</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">37</span></p>
                        </td>
                        <td width="69" valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">205</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">2.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">1</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">33</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">236</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">4.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">37.5</span></p>
                        </td>
                        <td width="69" valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">212</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">3</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">1.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">34</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">238</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">5.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">38</span></p>
                        </td>
                        <td width="69" valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">214</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">3.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">2</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">34.5</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">245</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">6</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">5.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">39</span></p>
                        </td>
                        <td width="69" valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">218</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">4</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">2.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">35</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">248</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">6.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">6</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">39.5</span></p>
                        </td>
                        <td width="69" valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">225</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">4.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">3</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">36</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">251</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">7</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">6.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">40</span></p>
                        </td>
                        <td width="69" valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">228</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">3.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">36.5</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">258</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">7.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">7</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">41</span></p>
                        </td>
                        <td width="69" valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">231</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">5.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">4</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">37</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">262</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">8</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">7.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">41.5</span></p>
                        </td>
                        <td width="69" valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">236</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">6</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">4.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">37.5</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">265</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">8.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">8</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">42</span></p>
                        </td>
                        <td width="69" valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">238</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">6.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">38</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">270</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">8</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">8.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">43</span></p>
                        </td>
                        <td width="69" valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">245</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">7</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">5.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">39</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">273</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">9.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">9</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">43.5</span></p>
                        </td>
                        <td width="69" valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">248</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">7.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">6</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">39.5</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">279</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">10</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">9.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">44</span></p>
                        </td>
                        <td width="69" valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">251</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">8</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">5.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">40</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">281</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">10.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">10</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">44.5</span></p>
                        </td>
                        <td width="69" valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">258</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">8.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">7</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">41</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">285</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">11</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">10.5</span></p>
                        </td>
                        <td width="59" valign="bottom">
                            <p><span style="font-size: medium;">45</span></p>
                        </td>
                        <td valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                        <td valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                        <td valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                        <td valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                        <td valign="bottom"><span style="font-size: medium;">&nbsp;</span></td>
                    </tr>
                </tbody>
            </table>
            <table style="width: 420px;" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td colspan="5">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong><span style="font-size: medium;">Quy đổi size giày Nam</span></strong></p>
                            <div><strong><span style="font-size: medium;"><br></span></strong></div>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">Size US</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">Size VN</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">Size UK</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">Inches</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">Centimet</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">6</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">39</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">5.5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">9.25"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">23.5</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">6.5</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">39-40</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">6</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">9.5"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">24.1</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">7</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">40</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">6.5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">9.625"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">24.4</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">7.5</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">40-41</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">7</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">9.75"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">24.8</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">8</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">41</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">7.5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">9.9375"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">25.4</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">8.5</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">41-42</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">8</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">10.125"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">25.7</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">9</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">42</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">8.5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">10.25"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">26</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">9.5</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">42-43</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">9</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">10.4375"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">26.7</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">10</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">43</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">9.5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">10.5625"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">27</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">10.5</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">43-44</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">10</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">10.75"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">27.3</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">11</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">44</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">10.5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">10.9375"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">27.9</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">11.5</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">44-45</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">11</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">11.125"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">28.3</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">12</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">45</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">11.5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">11.25"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">28.6</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">13</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">46</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">12.5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">11.5625"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">29.4</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">14</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">47</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">13.5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">11.875"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">30.2</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">15</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">48</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">14.5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">12.1875"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">31</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">16</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">49</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">15.5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">12.5"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">31.8</span></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
            <table style="width: 420px;" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td colspan="5">
                            <p><strong><span style="font-size: medium;">Quy đổi   size giày Nữ</span></strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">Size US</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">Size VN</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">Size UK</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">Inches</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">Centimet</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">4</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">34-35</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">2</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">8.1875"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">20.8</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">4.5</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">35</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">2.5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">8.375"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">21.3</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">5</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">35-36</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">3</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">8.5"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">21.6</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">5.5</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">36</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">3.5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">8.75"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">22.2</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">6</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">36-37</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">4</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">8.875"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">22.5</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">6.5</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">37</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">4.5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">9.0625"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">23</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">7</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">37-38</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">9.25"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">23.5</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">7.5</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">38</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">5.5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">9.375"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">23.8</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">8</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">38-39</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">6</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">9.5"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">24.1</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">8.5</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">39</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">6.5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">9.6875"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">24.6</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">9</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">39-40</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">7</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">9.875"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">25.1</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">9.5</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">40</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">7.5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">10"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">25.4</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">10</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">40-41</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">8</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">10.1875"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">25.9</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">10.5</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">41</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">8.5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">10.3125"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">26.2</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">11</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">41-42</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">9</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">10.5"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">26.7</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">11.5</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">42</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">9.5</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">10.6875"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">27.1</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="80">
                            <p><strong><span style="font-size: medium;">12</span></strong></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">42-43</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">10</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">10.875"</span></p>
                        </td>
                        <td width="80">
                            <p><span style="font-size: medium;">27.6</span></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".pagecontent img").css("height", "auto");
    });
</script>