@model OkCatStore.Models.LIENHE

@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style>
    #mapCanvas {
        height: 200px;
    }
</style>

@section jsFooter{
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCkbOCib3AHXrYlHXt5ZJSzD_2oxphqPs&callback=initMap">
</script>
    <script>
        function initMap() {
            var uluru = { lat: 10.802159, lng: 106.714996 };
            var map = new google.maps.Map(document.getElementById('mapCanvas'), {
                zoom: 18,
                center: uluru
            });

            var contentString = 'OkCatStore - 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, Thành phố Hồ Chí Minh.';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                position: uluru,
                map: map,
                title: 'Địa chỉ'
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }
        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
}


    <div class="container">
        <div class="pagetitle row">
            <b>THÔNG TIN LIÊN HỆ</b>
        </div>
        <div class="w3_footer_grids">
            <div class="col-md-12 w3_footer_grid">
                <address>
                    <b>OkCatStore: 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, Thành phố Hồ Chí Minh</b><br>
                    <abbr title="Phone">Điện thoại:</abbr> 0989.112.644<br>
                    <abbr title="Phone">Email: </abbr> <a href="mailto:cskh@okcat.com">cskh@okcat.com</a><br>
                </address>
            </div>
        </div>
        <div class="w3_footer_grids">
            <div class="col-md-6 w3_footer_grid">
                <div id="fb-root"></div>
                <script>
                        (function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=680224238800600";
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                </script>
                <div class="fb-page" data-href="https://www.facebook.com/www.YaMe.vn/?fref=ts" data-tabs="timeline" data-width="600" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/www.YaMe.vn/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/www.YaMe.vn/?fref=ts">YaMe Shop</a></blockquote></div>
            </div>
            <div class="col-md-6 w3_footer_grid">
                <div class="map" id="mapCanvas"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="banner-bottom">
            <div class="col-md-3 wthree_banner_bottom_left"></div>
            <div class="col-md-6 wthree_banner_bottom_right">
                <div class="pagetitle">
                    <b> GỬI EMAIL LIÊN HỆ</b>
                </div>
                @using (Html.BeginForm())
                {
                    <div class="form-horizontal">
                        <div class="small" style="margin-left:180px;font-style:italic;color:darkblue;">@ViewBag.ThongBao</div>
                        <div class="small" style="margin-left:180px;font-style:italic;color:#FF0000;">(*) Thông tin bắt buộc</div>
                        <hr />
                        <div class="form-group">
                            <label class="control-label col-md-4"> Họ tên (*) </label>
                            <div class="col-md-8">
                                <div class="controls">
                                    <input type="text" name="HOTENLH" id="HoTen" placeholder="Họ tên người liên hệ" class="form-control" value="" required="">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Công ty </label>
                            <div class="col-md-8">
                                <div class="controls">
                                    <input type="text" name="CONGTYLH" id="CongTy" placeholder="Công ty" class="form-control" value="">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Điện thoại (*) </label>
                            <div class="col-md-8">
                                <div class="controls">
                                    <input type="number" name="DIENTHOAILH" id="DienThoai" placeholder="Điện thoại liên hệ" class="form-control" value="" required="">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Email (*) </label>
                            <div class="col-md-8">
                                <div class="controls">
                                    <input type="text" name="EMAILLH" id="Email" placeholder="Email liên hệ" class="form-control" value="" required="">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Liên hệ về (*) </label>
                            <div class="col-md-8">
                                <div class="controls">
                                    <input type="text" name="VANDELH" id="TieuDe" placeholder="Liên hệ về vấn đề gì?" class="form-control" value="" required="">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Nội dung liên hệ (*) </label>
                            <div class="col-md-8">
                                <div class="controls">
                                    <textarea rows="6" class="form-control" name="NOIDUNG" id="NoiDungLienHe" required=""></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4"></label>
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-warning">Gửi thông tin liên hệ</button>
                            </div>
                        </div>
                    </div>
                }

                @*<form action="http://mwcshop.com/lien-he" class="form-horizontal" id="ContactForm" method="post">
                    <i style="color:#ff0000;"><span class="field-validation-valid" data-valmsg-for="_FORM" data-valmsg-replace="true"></span> </i>
                    <div style="padding:10px; background:#eee;display:none;">mwcshop đã nhận được thông tin của bạn. Chúng tôi sẽ phản hồi trong thời gian sớm nhất.</div>
                    <div class="small" style="margin-left:180px;font-style:italic;color:#FF0000;">(*) Thông tin bắt buộc</div>
                    <br>
                    <div class="form-group">
                        <label class="col-md-2 wthree_banner_bottom_left" for="HoTen">
                            Họ tên (*)
                        </label>
                        <div class="controls">
                            <input type="text" name="HoTen" id="HoTen" placeholder="Họ tên người liên hệ" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 wthree_banner_bottom_left" for="Gender">Giới tính (*)</label>
                        <div class="col-md-8 wthree_banner_bottom_right">
                            <label class="radio inline">
                                <input type="radio" name="Gender" id="rdNam" value="Nam"> Nam
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="Gender" id="rdNu" value="Nu"> Nữ
                            </label>
                            <label for="Gender" generated="true" class="error" style="display: none; ">Vui lòng chọn giới tính</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 wthree_banner_bottom_left" for="CongTy">
                            Công ty
                        </label>
                        <div class="controls">
                            <input type="text" name="CongTy" id="CongTy" placeholder="Công ty" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 wthree_banner_bottom_left" for="DienThoai">
                            Điện thoại (*)
                        </label>
                        <div class="controls">
                            <input type="text" name="DienThoai" id="DienThoai" placeholder="Điện thoại liên hệ" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 wthree_banner_bottom_left" for="Email">
                            Email (*)
                        </label>
                        <div class="controls">
                            <input type="text" name="Email" id="Email" placeholder="Email liên hệ" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 wthree_banner_bottom_left" for="TieuDe">
                            Liên hệ về (*)
                        </label>
                        <div class="controls">
                            <input type="text" name="TieuDe" id="TieuDe" placeholder="Liên hệ về vấn đề gì?" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 wthree_banner_bottom_left" for="NoiDungLienHe">
                            Nội dung liên hệ (*)
                        </label>
                        <div class="controls">
                            <textarea rows="6" class="form-control" name="NoiDungLienHe" id="NoiDungLienHe"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 wthree_banner_bottom_left" for=""></label>
                        <div class="controls">
                            <button type="submit" class="btn btn-warning">Gửi thông tin liên hệ</button>
                        </div>
                    </div>
                </form>*@
            </div>
            <div class="clearfix"> </div>

            @*<div class="w3_footer_grids">
                <div class="col-md-4 w3_footer_grid></div>
                <div class="col-md-8 wthree_banner_bottom_right">
                    <div class="pagetitle">
                        <b> GỬI EMAIL LIÊN HỆ</b>
                    </div>
                    <form action="http://mwcshop.com/lien-he" class="form-horizontal" id="ContactForm" method="post">
                        <i style="color:#ff0000;"><span class="field-validation-valid" data-valmsg-for="_FORM" data-valmsg-replace="true"></span> </i>
                        <div style="padding:10px; background:#eee;display:none;">mwcshop đã nhận được thông tin của bạn. Chúng tôi sẽ phản hồi trong thời gian sớm nhất.</div>
                        <div class="small" style="margin-left:180px;font-style:italic;color:#FF0000;">(*) Thông tin bắt buộc</div>
                        <br>
                        <div class="form-group">
                            <label class="col-md-2 wthree_banner_bottom_left" for="HoTen">
                                Họ tên (*)
                            </label>
                            <div class="controls">
                                <input type="text" name="HoTen" id="HoTen" placeholder="Họ tên người liên hệ" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 wthree_banner_bottom_left" for="Gender">Giới tính (*)</label>
                            <div class="col-md-8 wthree_banner_bottom_right">
                                <label class="radio inline">
                                    <input type="radio" name="Gender" id="rdNam" value="Nam"> Nam
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="Gender" id="rdNu" value="Nu"> Nữ
                                </label>
                                <label for="Gender" generated="true" class="error" style="display: none; ">Vui lòng chọn giới tính</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 wthree_banner_bottom_left" for="CongTy">
                                Công ty
                            </label>
                            <div class="controls">
                                <input type="text" name="CongTy" id="CongTy" placeholder="Công ty" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 wthree_banner_bottom_left" for="DienThoai">
                                Điện thoại (*)
                            </label>
                            <div class="controls">
                                <input type="text" name="DienThoai" id="DienThoai" placeholder="Điện thoại liên hệ" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 wthree_banner_bottom_left" for="Email">
                                Email (*)
                            </label>
                            <div class="controls">
                                <input type="text" name="Email" id="Email" placeholder="Email liên hệ" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 wthree_banner_bottom_left" for="TieuDe">
                                Liên hệ về (*)
                            </label>
                            <div class="controls">
                                <input type="text" name="TieuDe" id="TieuDe" placeholder="Liên hệ về vấn đề gì?" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 wthree_banner_bottom_left" for="NoiDungLienHe">
                                Nội dung liên hệ (*)
                            </label>
                            <div class="controls">
                                <textarea rows="6" class="form-control" name="NoiDungLienHe" id="NoiDungLienHe"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 wthree_banner_bottom_left" for=""></label>
                            <div class="controls">
                                <button type="submit" class="btn btn-warning">Gửi thông tin liên hệ</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>*@
        </div>
